<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"/>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .login-card {
        margin: 100px auto;
        border-radius: 10px;
    }

    .blog-footer p:last-child {
        margin-bottom: 0;
    }

    @media screen and (max-width: 570px) {

    }
</style>

<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>

<div class="container">
    <div class="card login-card border-secondary w-50" style="min-width: 360px; max-width: 1080px">
        <div class="row g-0">
            <div class="card-body" style="background-color: #111620;" th:object="${saveProductForm}">
                <form method="post" action="/admin/product/save" id="uploadForm" enctype="multipart/form-data">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <h3 class="card-title" style="text-align: center; color: #4B44CF;">상품 등록</h3>
                    <br/>

                    <div class="mb-3">
                        <label for="name" th:for="name" class="form-label"><small class="text-muted">이름</small></label>
                        <input type="text" th:field="*{name}" class="form-control input-box" id="name"
                               th:errorclass="fieldError" required>
                        <p class="fieldError" th:errors="*{name}">이름 오류</p>
                        <br/>
                        <label for="money" th:for="money" class="form-label"><small
                                class="text-muted">가격</small></label>
                        <input type="text" th:field="*{money}" class="form-control input-box" id="money"
                               th:errorclass="fieldError" required>
                        <p class="fieldError" th:errors="*{money}">가격 오류</p>
                        <br/>
                        <label for="stock" th:for="stock" class="form-label"><small
                                class="text-muted">재고</small></label>
                        <input type="text" th:field="*{stock}" class="form-control input-box" id="stock"
                               th:errorclass="fieldError" required>
                        <p class="fieldError" th:errors="*{stock}">재고 오류</p>
                        <br/>
                        <label for="category" class="form-label"><small
                                class="text-muted">카테고리</small></label>
                        <select class="form-select" th:field="*{category}" id="category"
                                aria-label="Default select example" required>
                            <option value="">카테고리 선택</option>
                            <option th:value="'DEVICE'">Device</option>
                            <option th:value="'SEED'">Seed</option>
                            <option th:value="'FERTILIZER'">Fertilizer</option>
                            <option th:value="'ETC'">ETC</option>
                        </select>
                        <br/>
                        <label for="image" class="form-label text-muted">상품 이미지 업로드</label>
                        <input type="file" th:field="*{image}" class="form-control" id="image" name="image">
                        <br/>
                        <label for="tiny" class="form-label"><small
                                class="text-muted">상품 정보</small></label>
                        <div>
                            <textarea id="tiny" th:field="*{productDetail}"></textarea>
                        </div>
                    </div>
                    <br/>
                    <div class="d-grid gap-2 col-12 mx-auto">
                        <button type="submit" class="btn btn-primary" id="btn-createProduct">등록</button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">상품 생성 완료</h5>
                                    <button type="button" onclick="location.href='/admin/product/save'" class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    상품이 생성되었습니다!
                                </div>
                                <div class="modal-footer">
                                    <button type="button" onclick="location.href='/admin/product/save'"
                                            class="btn btn-primary">확인
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"/>
<script src="/js/lib/tinymce/tinymce.min.js"></script>
<script src="/js/product/createProduct.js"></script>
</body>
</html>