<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: header}"/>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .blog-footer p:last-child {
        margin-bottom: 0;
    }

    @media screen and (max-width: 570px) {

    }
</style>

<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>

<div class="container">
    <button type="button" class="btn btn-primary" id="btn-createOrder">
        주문
    </button>
</div>

<div th:replace="~{fragments/footer :: footer}"/>
<script src="/js/order/createOrder.js"></script>
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>