<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: header}"/>

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .testimonial-card .card-up {
        height: 120px;
        overflow: hidden;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }

    .testimonial-card .avatar {
        width: 200px;
        margin-top: -100px;
        overflow: hidden;
        border: 5px solid #fff;
        border-radius: 50%;
    }

    .member-info h5 {
        margin: 0;
    }

</style>

<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>

<div class="container">
    <div class="card m-0 m-md-2 bg-transparent">
        <div class="card-body text-white">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="fw-normal mb-0 text-white" >내 정보</h2>
            </div>
            <div class="row">
                <div class="col-md-3 gx-4">
                    <div class="card testimonial-card mt-2 mb-3" style="background-color: #111620">
                        <div class="card-up"></div>
                        <div class="avatar mx-auto white">
                            <img src="https://via.placeholder.com/400x400"
                                 class="rounded-circle img-fluid"
                                 alt="avatar">
                        </div>
                        <div class="card-body text-center px-4 py-2">
                            <h4>
                                홍길동
                            </h4>
                            <br/>
<!--                            <div>-->
<!--                                <h5 class="text-start">기본 회원 정보</h5>-->
<!--                                <h5 class="text-start">작성 글 조회</h5>-->
<!--                                <h5 class="text-start">작성 댓글 조회</h5>-->
<!--                                <h5 class="text-start">구매 내역 조회</h5>-->
<!--                                <h5 class="text-start">나의 작물 조회</h5>-->
<!--                            </div>-->
                            <div class="list-group text-start list-group-flush pb-4">
                                <a href="#" class="rounded-top list-group-item list-group-item-primary list-group-item-action active">
                                    기본 회원 정보
                                </a>
                                <a href="#" class="list-group-item list-group-item-primary list-group-item-action">
                                    작성 글 조회
                                </a>
                                <a href="#" class="list-group-item list-group-item-primary list-group-item-action">
                                    작성 댓글 조회
                                </a>
                                <a href="#" class="list-group-item list-group-item-primary list-group-item-action">
                                    구매 내역 조회
                                </a>
                                <a href="#" class="rounded-bottom list-group-item-primary list-group-item list-group-item-action">
                                    나의 작물 조회
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 gx-4">
                    <div class="card mt-2 mb-3" style="background-color: #111620">
                        <div class="card-body member-info px-4">
                            <h4 class="m-0">
                                기본 회원 정보
                            </h4>
                            <hr/>
                            <div class="row my-5">
                                <div class="col-md-4">
                                    <h5>
                                        이메일
                                    </h5>
                                </div>
                                <div class="col-md-8">
                                    <h5>
                                        abc123@naver.com
                                    </h5>
                                </div>
                            </div>
                            <div class="row my-5">
                                <div class="col-md-4">
                                    <h5>
                                        닉네임
                                    </h5>
                                </div>
                                <div class="col-md-8">
                                    <h5>
                                        abc123
                                    </h5>
                                </div>
                            </div>
                            <div class="row my-5">
                                <div class="col-md-4">
                                    <h5>
                                        전화번호
                                    </h5>
                                </div>
                                <div class="col-md-8" >
                                    <h5>
                                        010-1234-1234
                                    </h5>
                                </div>
                            </div>
                            <div class="row my-5">
                                <div class="col-md-4">
                                    <h5>
                                        주소
                                    </h5>
                                </div>
                                <div class="col-md-8 placeholder-glow">
                                    <h5>
                                        12345
                                    </h5>
                                    <h5>
                                        서울특별시 강남구 테헤란로
                                    </h5>
                                    <h5>
                                        아파트
                                    </h5>
                                    <h5>
                                        101동 101호
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col text-end">
                        <a class="btn btn-primary">변경하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"/>
</body>
</html>