<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: header}"/>

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .blog-footer p:last-child {
        margin-bottom: 0;
    }

</style>

<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>

<div class="container" style="color: #FFFFFF" th:object="${memberDto}">
    <h1>회원 이메일</h1>
    <h3 th:text="*{email}">email</h3>
    <h1>회원 별명</h1>
    <h3 th:text="*{nickname}">email</h3>
</div>

<div th:replace="~{fragments/footer :: footer}"/>
<script src="js/bootstrap.bundle.js"></script>
</body>
</html>