<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: header}"/>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    @media screen and (max-width: 570px) {
    }

    .card {
        background-color: #111620;
    }


</style>

<body class="d-flex flex-column min-vh-100">

<div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>

<div class="container pb-5">
    <a class="btn btn-outline-light btn-sm my-4 ms-2" href="#" th:href="${previousPage}">
        &laquo; 이전 항목으로 돌아가기
    </a>
    <div class="card me-4" th:object="${product}">
        <div class="card-body row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-5">
                <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..."
                     th:src="*{imageUrl}"/>
            </div>
            <div class="col-md-7 text-white">
                <h1 class="display-5 fw-bolder" th:text="*{name}">수경재배기 Model-2</h1>
                <div class="fs-5 mb-5 d-flex align-items-center">
                    <p class="m-0 fs-3" th:text="*{price}">
                        50,000
                    </p>
                    <p class="m-0 fs-4">
                        원
                    </p>
                </div>
                <p class="lead" th:utext="*{contents}">상품내용</p>
                <form th:action="@{/cart/add/{id}(id=*{id})}" th:method="post">
                    <input type="hidden" name="productId" id="productId" th:value="*{id}"/>
                    <row>
                        <div class="col-2 col-md-1">
                            <input class="form-control pe-0 me-2" name="quantity" id="quantity" type="text"
                                   value="1"
                                   maxlength="2"
                                   oninput="quantityCheck(this)"
                                   autocomplete="off"
                                   required/>
                        <div class="invalid-feedback">
                            1개에서 99개 사이의 수량만 선택해주세요!
                        </div>
                        </div>
                        <div class="col-12 mt-2 d-grid mx-auto">
                            <a class="btn btn-outline-light" id="btn-addCart" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                장바구니 담기
                            </a>
                        </div>
                    </row>
                </form>
                <th:block sec:authorize="hasAuthority('ADMIN')">
                    <div class="py-2">
                        <form th:action="@{/admin/product/delete/{id}(id=*{id})}" th:method="post">
                            <button class="btn btn-danger flex-shrink-0" type="button" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                상품 삭제
                            </button>

                            <div class="modal fade text-black" id="staticBackdrop" data-bs-backdrop="static"
                                 data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">상품 삭제</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            정말 상품을 삭제할까요?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소
                                            </button>
                                            <button type="submit" class="btn btn-danger">삭제</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <hr class="my-4 text-white"/>
    <h2 class="m-3 text-white">
        상품리뷰
    </h2>
    <ol class="list-group my-3">
        <th:block th:each="review : ${pageableList.getContent()}">
            <li class="list-group-item d-flex justify-content-between align-items-center"
                style="background-color: #111620">
                <div class="ms-2 me-auto">
                    <div class="d-flex text-white">
                        <div class="fw-bold">작성자:&nbsp;</div>
                        <div class="fw-normal" th:text="${review.getReviewer()}">홍길동</div>
                    </div>
                    <p class="m-0 blockquote-footer" th:text="${review.getReview()}">
                        배송이 빨라요!
                    </p>
                    <div class="d-flex">
                        <p class="m-0 small text-muted">
                            작성일:&nbsp;
                        </p>
                        <p class="m-0 small text-muted" th:text="${#temporals.format(review.getCreatedDate(), 'yyyy.MM.dd')}">
                            2022-6-12
                        </p>
                    </div>

                </div>
                <div>
                    <th:block th:each="num : ${#numbers.sequence(1,review.getScore(),1)}">
                        ⭐
                    </th:block>
                </div>
            </li>
        </th:block>
    </ol>
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item" th:classappend="${pageableList.isFirst()} ? 'disabled' : ''">
                <a class="page-link" href="#" th:href="@{${productId}(page=${pageableList.getNumber()-1})}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${pageableList.getNumber() == 1} ? 'active' : ''">
                <a class="page-link" th:href="@{${productId}(page=1)}">1</a>
            </li>
            <li class="page-item" th:if="${pageableList.isMoreLeft()}"><a class="page-link">...</a>
            </li>

            <li class="page-item"
                th:classappend="${pageableList.getNumber() == num} ? 'active' : ''"
                th:if="${pageableList.getTotalPage()} > 2"
                th:each="num : ${#numbers.sequence(pageableList.getListMin(),pageableList.getListMax())}">
                <a class="page-link" href="#" th:href="@{${productId}(page=${num})}" th:text="${num}">1</a>
            </li>

            <li class="page-item" th:if="${pageableList.isMoreRight()}"><a class="page-link">...</a>
            </li>
            <li class="page-item"
                th:classappend="${pageableList.getNumber() == pageableList.getTotalPage()} ? 'active' : ''"
                th:unless="${pageableList.isFirst()} and ${pageableList.isLast()}"><a
                    class="page-link" th:href="@{${productId}(page=${pageableList.getTotalPage()})}"
                    th:text="${pageableList.getTotalPage()}">99</a></li>

            <li class="page-item" th:classappend="${pageableList.isLast()} ? 'disabled' : ''">
                <a class="page-link" href="#"
                   th:href="@{${productId}(page=${pageableList.getNumber()+1})}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">상품이 장바구니에 담겼습니다!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    상품이 장바구니에 담겼습니다!<br/>
                    지금 장바구니로 이동할까요?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='/cart'">이동하기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="existModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="existModalLabel">이미 장바구니에 있는 상품입니다!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    해당 상품이 이미 장바구니에 있습니다!<br/>
                    지금 장바구니로 이동할까요?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="location.href='/cart'">이동하기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"/>
<script src="/js/product/productDetail.js"></script>
</body>
</html>