<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="bodyHeader">
    <nav class="navbar navbar-expand-lg navbar-dark header nav-header" aria-label="Eighth navbar example">
        <div class="container">
            <a class="navbar-brand header-link" href="/"><strong>도시농부&nbsp;&nbsp;|&nbsp;&nbsp;</strong>
                프로페셔널한 농부들의 공간</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <div class="me-auto"></div>
                <div class="d-flex">
                    <ul sec:authorize="isAnonymous()" class="navbar-nav me-auto d-flex">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/login">로그인</a>
                        </li>
                    </ul>
                    <ul sec:authorize="isAuthenticated()" class="navbar-nav me-auto d-flex">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/store">스토어</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/community">커뮤니티</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">기기관리</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/memberInfo">내 정보</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/logout">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

</html>