@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #131825;
}

.mcontainer{
    display: flex;
    flex-direction: column;
    /*width: 100%;
    padding-right: var(--bs-gutter-x, 15rem);
    padding-left: var(--bs-gutter-x, 15rem);*/    
}

.wrapper{
    display: flex;
    justify-content: center;
}

.myinfo{
    display: flex;
    justify-content: center;
}

.myinfo h1{
    margin-right: 940px;
    margin-top: 40px;
    padding-bottom: 20px;
    color: #fff;    
}

/*사이드바*/
.sidebar{
    display: flex;
    flex-direction: column;
}

.sidebar_profile{
    position: relative;
    background: #0e131e;
    width: 300px;
    height: 240px;
    border-radius: 15px;
}

.profile_img{
    width: 240px;
    height: 160px;
    border-radius: 20px;
    margin: 20px 30px 15px 30px;
}
.camera_icon{
    position: absolute;
    background: #fff;
    border-radius: 100%;
    border: white;
    width: 35px;
    height: 30px;
    left: 225px;
    top: 140px;
    text-align: center;
}

.edit_icon{
    margin-top: -5px;
}

.sidebar_profile .profile p{
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

.sidebar_list{
    margin-top: 60px;
    background: #0e131e;
    width: 300px;
    height: 305px; 
    border-radius: 20px;
}

.sidebar_list ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar_list ul li a{
    display: block;
    padding: 20px 30px;
    color: #c4c4c4;
    font-size: 14px;
}

.sidebar_list ul li a:hover,
.sidebar_list ul li a.active{
    color: #fff;
    font-weight: bolder;
    background: #262e49;
}

.sb_li_top:hover,
.sb_li_top.active{
    color: #fff;
    font-weight: bolder;
    background: #262e49;
    border-radius: 20px 20px 0 0;
}

.sb_li_bottom:hover,
.sb_li_bottom.active{
    color: #fff;
    font-weight: bolder;
    background: #262e49;
    border-radius: 0 0 20px 20px;
}

.sidebar_list ul li a:hover:before,
.sidebar_list ul li a.active:before{
    display: block;
}

/*컨텐츠*/
.content_body{
    display: flex;
    flex-direction: column;
    background: #0e131e;
    width: 900px;
    height: 605px;
    border-radius: 20px;
    margin-left: 50px;
}
.content_name hr{
    width: 100;
    color: #c4c4c4;
    border: 1px solid #c4c4c4;
    margin-top: 20px;
    margin-bottom: 30px;
}

.content_name h2{
    color: #fff;
    font-weight: bolder;    
    margin-top: 30px;
    margin-left: 50px;
}

.content_body p{
    color: #fff;
}