<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"/>

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

</style>

<body class="d-flex flex-column min-vh-100">

<header>
    <!--    <meta sec:authorize="isAuthenticated()" http-equiv="refresh" content="0;url=/">-->
    <nav class="navbar navbar-expand-lg navbar-dark header nav-header" aria-label="Eighth navbar example">
        <div class="container">
            <a class="navbar-brand header-link" href="/"><strong>도시농부&nbsp;&nbsp;|&nbsp;&nbsp;</strong>
                프로페셔널한 농부들의 공간</a>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row my-4 justify-content-center">
        <div class="col-10 col-md-6">
            <div class="card" style="background-color: #111620">
                <div class="card bg-transparent">
                    <div class="card-body text-white">
                        <form id="reset-form">
                            <div class="row justify-content-center mb-3">
                                <div class="col-md-10 text-center">
                                    <h3 class="py-3">비밀번호 재설정</h3>
                                    <p class="fieldError" th:text="${#request.getAttribute('error')}"> 에러 </p>
                                    <label for="email" class="form-label">이메일로 인증</label>
                                    <input type="email" id="email"
                                           class="form-control input-box" placeholder="이메일 입력" name="password" required/>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-10 d-grid mx-auto">
                                    <button class="btn btn-primary" type="submit">확인</button>
                                </div>
                            </div>
                        </form>
                        <div class="row justify-content-center mb-3">
                            <div class="col-md-10 text-center">
                                <p class="fieldError" th:text="${#request.getAttribute('error')}"> 에러 </p>
                                <label class="form-label">등록된 휴대전화로 인증</label>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-10 d-grid mx-auto">
                                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#MessageAuthModal">확인</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MessageAuthModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #0e131e">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" style="color: #FFFFFF">휴대전화 인증</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: #FFFFFF"></button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <label class="form-label" style="color: #FFFFFF">이메일 입력</label>
                </div>
                <div class="row my-2">
                    <div class="col-12 mx-auto">
                        <input type="email" class="form-control" id="id" name="id"
                               placeholder="이메일">
                    </div>
                </div>
                <div class="col-12">
                    <label class="form-label" style="color: #FFFFFF">전화번호 입력</label>
                </div>
                <div class="row my-2">
                    <div class="col-6 mx-auto">
                        <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                               oninput="autoHyphen(this)"
                               maxlength="13"
                               placeholder="전화번호">
                    </div>
                    <div class="col-6 mx-auto">
                        <a type="button" id="sms-btn" class="btn btn-primary d-grid">전송</a>
                    </div>
                </div>
                <div class="col-12">
                    <label class="form-label" style="color: #FFFFFF">인증번호 입력</label>
                </div>
                <div class="row my-2">
                    <div class="col-6 mt-0 mx-auto">
                        <input type="text" class="form-control" id="authNumber" name="inputNumber" placeholder="인증번호">
                    </div>
                    <div class="col-6 mt-0 mx-auto">
                        <a type="button" id="auth-btn" class="btn btn-primary d-grid">인증</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"/>
<script src="/js/resetPasswordPage.js"></script>
<script src="/js/util/autoHyphen.js"></script>
</body>
</html>