<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test.css">
</head>
<body>
    <div class="container">
        <ul class="list">
            <li class="info">이메일</li>
            <li class="info">닉네임</li>
            <li class="info">비밀번호</li>
            <li class="info">전화번호</li>
            <li class="info">주소</li>
        </ul>
        <ul class="list">
            <li class="value">example.email.com</li>
            <li class="value">닉네임</li>
            <li class="value">******** <button>변경</button></li>            
            <li class="value">010-0000-0000 <button>인증</button></li>
            <li class="value"><input type="text" placeholder="우편번호 검색" disabled><button class="post_number">주소 검색</button></li>
            <li class="value"><input type="text" placeholder="기본 주소 입력: " disabled></li>
            <li class="value"><input type="text" placeholder="상세 주소 입력"></li>
        </ul>
    </div>
</body>
</html>